.sign-up-container{
    max-width: 100vw;
    padding: 30px 7%;
    min-height: 85vh;
}
h2{
    text-align: center;
    color: #179dca;
    font-size: 40px;
}
label{
    font-size: 20px;
    color: #898888;
}

input:focus{
    outline: none;
    border: 1px solid #179dca;
    border-radius: 10px;
}
.button{
    width:100% ;
    height: 45px;
    padding: 7px auto;
    margin: 0px 0px;
}
form button {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
